<form (ngSubmit)="onSubmit()">
  <div>
    <input type="file" accept="text/plain" (change)="onFileSelected($event)">
    <button class="upload-button" type="submit">
      Upload
    </button>
  </div>
</form>

<div *ngIf="uploadResponse && uploadResponse.errors">
  <div (click)="toggleLog()">
    <div *ngIf="!uploadResponse.expanded" class="collapsible">
      <p>Open errors log</p>
    </div>
    <div *ngIf="uploadResponse.expanded" class="collapsible">
      <p>Close errors log</p>
    </div>
    <div *ngIf="uploadResponse.expanded" class="error">
      <p *ngFor="let error of uploadResponse.errors">
        {{ error }}
      </p>
    </div>
  </div>


</div>
