<div class="upload-rules">
  <p>You can upload Ages Of Names&#8482; in a plain text format.</p>
  <p>The entries should be in format "Name_AGE"</p>
  <p>The name should be a one word with only A-z and А-я characters allowed.</p>
  <p>The age is a number, duh.</p>
</div>

<form (ngSubmit)="onSubmit()">
  <div>
    <input type="file" accept="text/plain" (change)="onFileSelected($event)">
    <button class="upload-button" type="submit">
      Upload
    </button>
  </div>
</form>

<div *ngIf="uploadResponse && uploadResponse.errors">
  <div (click)="toggleLog()">
    <div *ngIf="!uploadResponse.expanded" class="collapsible">
      <p>Open errors log</p>
    </div>
    <div *ngIf="uploadResponse.expanded" class="collapsible">
      <p>Close errors log</p>
    </div>
    <div *ngIf="uploadResponse.expanded" class="error">
      <p *ngFor="let error of uploadResponse.errors">
        {{ error }}
      </p>
    </div>
  </div>


</div>
